{% extends 'template.html.twig' %}

{% block title %}
    Tableau Users
{% endblock %}

{% block PageTitle %}
    Tableau users
{% endblock %}

{% block body %}
<table class='table'>
    {% for note in notes %}
    <tr>
        <td>{{ note }}</td>
    </tr>
    {% endfor %}
</table>
<div class='alert alert-info'>
    <p>Nombre de notes : {{notes | length }}
    <p>Note min : {{ min(notes) }}
    <p>Note max : {{ max(notes) }}
</div>
<img src="{{ asset('asset/images/') ~ path | defaultImage }}" alt="">

{% endblock %}