{% extends 'template.html.twig' %}

{% block title %}
    {% trans %}Tableau Users{% endtrans %}
{% endblock %}

{% block PageTitle %}
    {% trans %}Tableau users{% endtrans %}
{% endblock %}

{% block body %}
<table class='table'>
    {% for note in notes %}
    <tr>
        <td>{{ note }}</td>
    </tr>
    {% endfor %}
</table>
<div class='alert alert-info'>
    <p>{% trans %}Number notes : {% endtrans %}{{notes | length }}
    <p>{% trans %}Note min : {% endtrans %}{{ min(notes) }}
    <p>{% trans %}Note max : {% endtrans %}{{ max(notes) }}
</div>
<img src="{{ asset('asset/images/') ~ path | defaultImage }}" alt="">

{% endblock %}